// Style scss:

$font-stack: Roboto, sans-serif;
$primary-color: #333;

$logo-header-color-first: #2196f3;
$logo-header-color-second: #000000;

$site-nav-links: #000000;
$site-nav-links-hover: #2196f3;

$email-number-color-fonts: #757575;
$email-number-color-icon: #757575;
$email-number-color-fonts-hover: #2196f3;
$email-number-color-icon-hover: #2196f3;

$main-color-icons-hover: #2196f3;
$costomers-list-hover: #2196f3;

$footer-bg-color: #2f303a;
$footer-icon-fill: #ffffff;
$footer-icons-color-bg: rgba(255, 255, 255, 0.1);
$footer-icon-hover: #2196f3;
$footer-font-style-white: #ffffff;

$portfolio-buttons-font-color: #212121;
$portfolio-buttons-bg-color: #f5f4fa;
$portfolio-buttons-hover: #2196f3;
$portfolio-title-color: #212121;
$portfolio-card-description-color: #757575;
$portfolio-overlay-font-color: #ffffff;
$portfolio-overlay-item-color: rgba(33, 150, 243, 0.9);
